.nav-bar__container{
    padding: 30px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-style: solid;
}

.nav-bar__title{
    font-size: 30px;
}